@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.english-text {
  @apply text-xs md:text-sm mt-[-3px] md:mt-[-4px] font-light text-english;
}

.button {
  @apply py-1 px-4 w-40 md:w-48 rounded-md no-underline flex justify-center focus:ring-2;
}

.margin-y-x-small {
  @apply py-0.5 md:py-1;
}

.margin-y-small {
  @apply py-1 md:py-2;
}

.margin-y-medium {
  @apply py-2 md:py-4;
}

.margin-y-large {
  @apply py-3 md:py-6;
}

.padding-small {
  @apply p-1 md:p-2;
}

.icon-small {
  @apply h-[16px] w-[16px];
}

.icon-medium {
  @apply h-[26px] w-[26px];
}

.icon-large {
  @apply h-8 w-8;
}
